<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite" parallel="false" thread-count="2">
    <test name="RegressionTests">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <packages>
            <package name="org.CoreJava"/>
            <package name="org.Selenium"/>
            <package name="org.string"/>
            <package name="org.Appium"/>
        </packages>
    </test>
</suite>