<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MySuite">
    <test name="MyTestGroup">
        <classes>
            <class name="org.string.NumberofchartinStringTest"/> <!-- Fully-qualified class name -->
            <class name="org.Selenium.ListenerTest"/> <!-- Fully-qualified class name -->
        </classes>
    </test>
</suite>